body {
    background: #FBFBFB;
    color: #333;
    font-family: Verdana, sans-serif;
    font-size: 11pt;
}

#header {
    width: 2in;
    float: right;
    text-align: right;
}
#header .author {
    display: none;
}

#container {
    margin: auto;
    width: 7.5in;
    padding: .5in;
}

a, a:visited {
    text-decoration: none;
    color: #669;
}
a:hover {
    text-decoration: underline;
}

h2, h3, p {
    padding: 0 10px;
}

h1 {
    margin-top: 0;
}
h2 {
    margin-top: 2em;
    padding-top: 0.5em;
    border-top: 5px solid #ddd;
    padding-bottom: 0.5em;
    border-bottom: 5px solid #ddd;
}
h3 {
    margin-top: 1.5em;
    padding-bottom: 0.5em;
    border-bottom: 5px solid #eee;
}

#header h1, #header h2, #header h3 {
    padding: 0;
    border: 0;
}

li {
    margin-top: 0em;
}
ul li ul li {
    margin: .5em;
}
dl dt {
    font-weight: bold;
}

blockquote {
    padding: 0px 20px;
    margin: 0 0 20px;
    border-left: 5px solid #eee;
}
